h1{
    text-align: center;
    color:blue;
}
h2{
    text-align: center;
    color: blue;
}

img{
    float: left;
    border: 2px ;
}
.column{
    float: left;
    width: fit-content;
}
.text-box{
    border: 5px solid rgb(19, 3, 3);
    background-color: slategray;
    margin: 100;
    padding-left: 2px;
}

.text-box h5{
    font-size: 20px;
}

body{
    font-family: sans-serif;
}
dl.a{
    list-style-type: square;

}
ol.b{
    list-style-type: lower-roman;
}
.lists{
    clear: left;
}
